<div class="input-group">
  <input [(ngModel)]="query" type="text" class="form-control" placeholder="Search for species or gene..." (keyup)=getSearch(query)>
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" (click)="search(query)">
      Search
    </button>
  </span>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="size-of-bar" *ngIf="filteredgenes.length > 0 || filteredmetabolites.length > 0">

      <div class="col-md-6">
        <div *ngIf="filteredgenes.length > 0">
          <h2>genes</h2>
          <div *ngFor="let r of filteredgenes" id="change-color-on-mouse-over">
            <ul>
              <li>
                <a (click)="search(r.name)">
                  <b>{{ r.id }}</b> {{ r.name }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div *ngIf="filteredmetabolites.length > 0">
          <h2>metabolites</h2>
          <div *ngFor="let m of filteredmetabolites" id="change-color-on-mouse-over">
            <ul>
              <li>
                <a (click)="search(m.name)">
                  <b>{{ m.id }}</b> {{ m.name }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
