<section class="geneDetails">
  <div *ngIf="gene" class="geneDetailsChild col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <strong>{{gene.name}}</strong>
        </h3>
      </div>
      <div class="panel-body">
        <p *ngIf="gene.id ">
          id: {{gene.id}}
        </p>
        <p *ngIf="gene.name">
          name: {{gene.name}}
        </p>
        <p *ngIf="gene.name">
          pathway: {{ gene.species }}
        </p>
        <p *ngIf="gene.lower_bound && gene.upper_bound">
          reversible: {{ gene.lower_bound
          < 0 && gene.upper_bound > 0 }}
        </p>
        <p *ngIf="gene.upper_bound">
          upper_bound: {{gene.upper_bound}}
        </p>
        <p *ngIf="gene.lower_bound == 0">
          lower_bound: {{gene.lower_bound}}
        </p>
        <p *ngIf="gene.lower_bound">
          lower_bound: {{gene.lower_bound}}
        </p>
        <br>
        <h4>
          <chemical-equation [metabolites]="gene.metabolites" [selectedmetabolite]="{}"></chemical-equation>
        </h4>

        <div class="row">
          <div class="col-md-12">
          </div>
        </div>

        <div>
          <h4>
            <strong>Connected genes</strong>
          </h4>
          <table class="table table-hover">
            <tbody>
              <tr>
                <td>
                  <strong>metabolite</strong>
                </td>
                <td>
                  <strong>genes</strong>
                </td>
              </tr>
              <tr *ngFor="let m of relatedmetabolites">
                <td>
                  <a [routerLink]="['/metabolite', m.id]">
                    {{m.id}}
                  </a>
                </td>
                <td>
                  <span *ngFor="let r of m.genes">
                    <a [routerLink]="['/gene', r]">
                      {{r}}
                    </a>,
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
