<section class="geneDetails">
  <div *ngIf="gene" class="geneDetailsChild col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <strong>{{gene.name}}</strong>
        </h3>
      </div>
      <div class="panel-body">
        <p *ngIf="gene.id ">
          id: {{gene.id}}
        </p>
        <p *ngIf="gene.name">
          name: {{gene.name}}
        </p>
        <p *ngIf="gene.name">
          species: {{ gene.species }}
        </p>

        
      </div>
    </div>
  </div>
</section>
