<div>
  <div class="panel-heading">
    <h3 class="panel-title">
      Genes (total {{genes.length}}) of {{species}}
    </h3>
  </div>
  <table class="table table-hover" style="width:100%">
    <tbody class="col-md-4">
        <tr>
            <th>Public ID</th>
            <th>Gene Name</th> 
            <th>PANTHER Family</th>
          </tr>
      <tr *ngFor="let g of genes">
        <td>
            <a href="http://pantree.org/node/annotationNode.jsp?id={{g.ptn}}">
              {{g.ptn}}
            </a>
        </td>
        <td>
              <a href="http://pantree.org/node/annotationNode.jsp?id={{g.ptn}}">
                {{g.name}}
              </a>
        </td>
        <td>
              <a href="http://www.pantherdb.org/panther/family.do?clsAccession={{g.pthr}}">
                {{g.pthr}}
              </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
